.homepage {
    min-height: 65vh;
    margin-top: 3rem;
    h2 {
        margin-bottom: 1rem;
        font-size: 30px;
        text-align: center;
        font-weight: 700;
    }
    a {
        text-decoration: none;
    }
}