.shop-container {
    .add-product-box {
        opacity: 0;
        visibility: hidden;
        height: 0;
        transition: all .3s ease;
        &.show {
            opacity: 1;
            visibility: visible;
            height: auto;
        }
    }
}