header {
    .navbar-brand {
        width: 100px;
    }
    .navbar-nav {
        .nav-link {
            margin-right: 10px;
            font-size: 15px;
            color: #333!important;
            transition: color .2s ease;
            &:hover {
                color: #448bb8;
            }
        }
    }
}