.add-product-container {
    padding: 15px 0;
    h1 {
        font-size: 30px;
        color: #333;
        font-weight: 700;
        text-align: center;
    }
    .add-product-form {
        margin: auto;
        button {
            padding: 8px 32px;
        }
    }
}